<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2><i>{{title}}</i></h2>
  <div class="full">
    <div class="calc"><input type="text" [(ngModel)]= "screen"></div>
    <div class="container">
      <b>
        <h1>
          <input type="button" (click)='value("1")' value="1">
          <input type="button" (click)='value("2")' value="2">
          <input type="button" (click)='value("3")' value="3">
          <input type="button" (click)='condition("+")' value="+">
        </h1>
        <h1>
          <input type="button" (click)='value("4")' value="4">
          <input type="button" (click)='value("5")' value="5">
          <input type="button" (click)='value("6")' value="6">
          <input type="button" (click)='condition("-")' value="-">
        </h1>
        <h1>
          <input type="button" (click)='value("7")' value="7">
          <input type="button" (click)='value("8")' value="8">
          <input type="button" (click)='value("9")' value="9">
          <input type="button" (click)='condition("*")' value="*">
        </h1>
        <h1>
          <input type="button" (click)='value("0")' value="0">
          <input type="button" (click)='condition("/")' value="/">
          <input type="button" (click)='result()' value="=">
          <input type="button" (click)='clear()' value="c">
        </h1>
      </b>
    </div>
    </div>
</body>
</html>
